/*Start global*/
html {
    font-size: 10px;
    font-family: 'Roboto',sans-serif;
    color: #0c0c0c;
}
.image
{
    padding-right: 20%;
    position: relative;

}
.pictures
{
    display: block;
    width: 20%;
    margin-left: 5%;
    margin-right: -50%;
}
.container
{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position:  relative;
}
#typewriter
{

    left: 0;
    top: 100%;
    width: 12em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,0.75);
    font-size: 390%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(15vh); /*this controls the spacing from the top*/
/*this is for the footer it has icon*/
}a[href*="https://www.linkedin.com/"] {
    /*<!--Thanks to https://fontawesome.com/icons/ for the icons-->*/
     background:url(./images/linkedin-brands.svg) no-repeat left center;
     padding-left:19px;
    padding-right: 10px;
 }

a[href*="https://github.com/"] {
    background:url(./images/github-brands.svg) no-repeat left center;
    padding-left:19px;
}
a[href*="mailto:davila_salazar_carlo@student.smc.edu"] {
    background:url(./images/envelope-square-solid.svg) no-repeat left center;
    padding-left:19px;

}
#footer
{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: left;
    font-size: 20px;
    padding-bottom: 4rem;
}
/*Start header*/
.row
{
    max-width: 1200px;
    margin: auto;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.main-nav
{
    float: left;
    list-style: none;
    margin-top: 30px;
    margin-right: 20rem;
    margin-left: 20rem;
    padding-bottom: 10rem;

}
.main-nav li
{
    margin: 0 2rem;
    display: inline-block;
}
.main-nav li a
{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto",sans-serif;
    font-size: 5rem;
    padding: 1rem;
}
.main-nav li a:hover,
.main-nav li a:focus,.main-nav li a:active
{
    background: linear-gradient(to top,#ffe838,#fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*End header*/

/*Start about*/
.about
{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: -30%;
}
.about-cont
{
    font-size: 15px;
}
/*End about*/

/*thanks to w3 school for the help on the picture grid*/
/*Start pictures*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-left: 35%;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
/*End pictures*/

body
{
    width: 100%;
    height: 100%;
}
