    /*Start global*/

    
    .image {
        padding-right: 20%;
        position: relative;
    }
    
    .pictures {
        display: block;
        width: 20%;
        margin-left: 5%;
        margin-right: -50%;
    }
    
    .col-md-12 {
        display: flex;
        justify-content: center;
    }
    #copyright{
        text-align: center;
        padding-left: 43%;
        padding-bottom: 30px;
    }
    
    #typewriter {
        left: 0;
        padding-top: 25%;
        padding-bottom: 25%;
        width: 12em;
        margin: 0 auto;
        border-right: 2px solid rgba(255, 255, 255, 0.75);
        font-size: 390%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        /*transform: translateY(15vh);*/
        /*this controls the spacing from the top*/
        /*Start header*/
    }
    .navbar{
        min-height: 80px;
    }
    .navbar li a {
        color: black;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
    }
    .row {
        max-width: 1200px;
        margin: auto;
    }
    
    #nav-bar {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    
    .main-nav {
        float: left;
        list-style: none;
        margin-top: 30px;
        margin-right: 20rem;
        margin-left: 20rem;
        padding-bottom: 10rem;
    }
    
    .main-nav li {
        margin: 0 2rem;
        display: inline-block;
    }
    
    .main-nav li a {
        color: black;
        text-decoration: none;
        padding: 5px 20px;
        font-family: "Roboto", sans-serif;
        font-size: 5rem;
        padding: 1rem;
    }
    
    .main-nav li a:hover,
    .main-nav li a:focus,
    .main-nav li a:active {
        background: linear-gradient(to top, #ffe838, #fd57bf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /*End header*/
    /*Start about*/
    

    /*End about*/
    /*thanks to w3 school for the help on the picture grid*/
    /*Start pictures*/
    
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    /* Create four equal columns that sits next to each other */
    

    /* Responsive layout - makes a two column-layout instead of four columns */
    
    @media screen and (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }
    /*End pictures*/
    
    body {
        width: 100%;
        height: 100%;
    }