.navbar{
    min-height: 80px;
}
.navbar li a {
    color: black;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}
#Picture{
    padding-top: 80px;
    padding-bottom: 80px;
}
#About{
    padding-top: 10%;
    padding-bottom: 80px;
}
#typewriter {
    left: 0;
    top: 100%;
    width: 12em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 390%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(15vh);
    /*this controls the spacing from the top*/
    /*Start header*/
}


.col-md-12 {
    display: flex;
    justify-content: center;
    position: absolute;
}